* {
  box-sizing: border-box;
}
h1 {
  font-size: 1.75em;
}

body {
  font-family: sans-serif;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.title-all{
  font-size: 1.25em;
  position: absolute;
  right: -1px;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  width: 150px;
}

#page-title
{
  width: 100%;
  text-align: center;
}
#title-first
{
  background: pink;
}

#title-second
{
  background: red;
  color: white;
}

#title-third
{
  background: yellow;
}

.dummytext{
margin: 40px 0 20px 0;
padding: 10px;
}

section{
  padding: 10px;
}

.container{
  position: relative;
  border: 1px solid black;
  background: #efefef;
  padding: 10px;
}

#container3{
  clear: left;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4{
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
 
}